.classpath
.gradle
.idea
.nb-gradle
.project
.settings
/bin
/build
/deploy
/dist
/fetcher.properties
/gen
/log4j.properties
/logs
/mobibot.properties
/out
/proguard-project.txt
/project.properties
/test-output
CVS
