**/.idea/dictionaries
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/tasks.xml
**/.idea/workspace.xml
*.iws
.classpath
.DS_Store
.gradle
.kobalt
.nb-gradle
.project
.settings
/bin
/build
/deploy
/dist
/fetcher.properties
/gen
/gradle.properties
/local.properties
/log4j.properties
/logs
/mobibot.properties
/out
/proguard-project.txt
/project.properties
/target
/test-output
/weather.log
CVS
ehthumbs.db
kobaltBuild
Thumbs.db