**/.idea/dictionaries
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/tasks.xml
**/.idea/workspace.xml
*.iws
.DS_Store
.classpath
.gradle
.nb-gradle
.project
.settings
/bin
/build
/deploy
/dist
/fetcher.properties
/gen
/local.properties
/log4j.properties
/logs
/mobibot.properties
/out
/proguard-project.txt
/project.properties
/test-output
/weather.log
CVS
Thumbs.db
ehthumbs.db