version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - restore_cache:
          keys:
          - gradle-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - gradle-dependencies-

      - run:
          name: Gradle Dependencies
          command: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.m2
          key: gradle-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Run Tests
          command: ./gradlew test

      - store_test_results:
          path: build/reports
      - store_artifacts:
          path: build/reports