body {
    background: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 0;
}

h1 {
    color: #333399;
}

h2 {
    border-bottom: 2px solid #9999cc;
}

h3 {
    padding-top: 25px;
    border-bottom: 1px solid #9999cc;
}

code {
    font-family: Courier New, Courier, mono, monospace;
    color: #000066;
    background-color: #ffeedd;
    margin-left: 20px
}

a:hover {
    color: #ff0000;
    background: #eeeeff;
}

#content {
    float: none;
    position: relative;
    margin: 0 10px 10px 10px;
    padding: 0 10px 10px 10px;
}

#content p {
    padding-left: 10px;
}

#content p.note {
    padding: 5px;
    border: 1px solid #9999cc;
    border-right: 2px solid #666699;
    border-bottom: 2px solid #666699;
    background: #eeeeff;
    margin: 20px 50px;
}